* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section1 {
    background-color:#c2efd4;
    min-height: 100vh;
}
.header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    width:100%;
    padding-inline: 174px;
    padding-block: 55px;
}
.logo{
    font-weight: 400; 
    font-size: 40px;

}

.nav {
    display: flex;
    gap: 57px;
}

.nav a {
    color: #224F34;
    text-decoration: none;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}
.korzina {
    background-color:transparent;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    background-color: transparent;
    width: 142px;
    height: 52px;
    color: #224F34;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    border-radius: 3px;
    border-color: #224F34;
    border: 2px solid #224F34;
}
.knopki{
    display: flex;
    align-items: center;
    gap: 59px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text h1{
    color: #224F34;
    font-weight: 700;
    font-style: dold;
    font-family: Rufina;
    font-size: 86px;
    line-height: 100%;
    letter-spacing: 0% ;
}
.text P{
    color: #267D49;
    font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 24px;
line-height: 220.00000000000003%;
letter-spacing: 0%;


}
.explore{
    width: 258px;
    height: 74px;
    border: 1px solid #224F34;
    background-color: #224F34;
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}
.section2{
    background-color:#ffffff;
    min-height: 100vh;
    padding-inline: 114px;
    padding-block: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.best {
    text-align: center;
    margin-bottom: 60px;
}

.best h2 {
    color: #224F34;
    font-family: Roboto Slab;
    font-style: Medium;
    line-height: 100%;
    letter-spacing: 0%;
    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    margin-bottom: 20px;
}

.best p {
    color:rgba(34, 79, 52, 1);

    font-family: Poppins;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
}
.cards2 {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 60px;
}

.product-card {
   
    width: 430px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.product-img {
    padding: 20px;
    width: 100%;
    height: 566px;  
    object-fit: contain;               
    box-sizing: border-box;     
}
.bg-1 { background-color: rgba(147, 185, 162, 1);
} 
.bg-2 { background-color: rgba(169, 212, 186, 1);
} 
.bg-3 {background-color: rgba(202, 220, 208, 1);
 }

.product-info {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-info img {
   width:auto;
    height: 74px;
    
}

.see-all {
     display: flex;
    justify-content: center;
   background-color: transparent;
   border:0cap;
   cursor: pointer;
}
.section3{
    background-color: #FFFFFF;
    padding-inline: 174px;
    padding-block: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our-products{
    text-align: center;
    margin-bottom: 60px;
}
.our-products h3{
    color:#224F34 ;
    font-family: ;
    font-weight: 500;
    font-size: 50px;
    line-height: 100%;
    margin-bottom: 70px;
}
.tabs{
    display: flex;
    justify-content: center;
    gap: 60px;
}
.tab{
    color: #454545;
    font-family: Poppins;
    font-size: 22px;
    font-weight: 500;
    text-decoration: none;
    position: relative;
}
.tab.active{
    color: #224F34;
    border-bottom: 2px solid #224F34;
}

