* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.section1 {
    background-color:#c2efd4;
    min-height: 100vh;
}
.header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    width:100%;
    padding-inline: 174px;
    padding-block: 55px;
}
.logo{
    font-weight: 400; 
    font-size: 40px;

}

.nav {
    display: flex;
    gap: 57px;
}

.nav a {
    color: #224F34;
    text-decoration: none;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}
.korzina {
    background-color:transparent;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    background-color: transparent;
    width: 142px;
    height: 52px;
    color: #224F34;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    border-radius: 3px;
    border-color: #224F34;
    border: 2px solid #224F34;
}
.knopki{
    display: flex;
    align-items: center;
    gap: 59px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text h1{
    color: #224F34;
    font-weight: 700;
    font-style: dold;
    font-family: Rufina;
    font-size: 86px;
    line-height: 100%;
    letter-spacing: 0% ;
}
.text P{
    color: #267D49;
    font-family: Poppins;
font-weight: 500;
font-style: Medium;
font-size: 24px;
line-height: 220.00000000000003%;
letter-spacing: 0%;


}
.explore{
    width: 258px;
    height: 74px;
    border: 1px solid #224F34;
    background-color: #224F34;
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}
.section2{
    background-color:#ffffff;
    min-height: 100vh;
}
        